/* style.css */

/* Stile per i titoli */
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

/* Stile per la barra di ricerca */
.search-bar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Stile per il menù a tendina */
#queryMenu {
  margin-left: 10%;
  padding: 10px;
  width: 60%;
  box-sizing: content-box;
  text-overflow: ellipsis;
}

/* Stile per il pulsante di ricerca */
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 0.5%;
}

/* Stile per il layout a due colonne */
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Stile per ogni colonna */
.column-noGPT {
  flex-basis: 45%;
}

/* Stile per ogni colonna */
.column-GPT {
  flex-basis: 45%;
}

#noGPTChart {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  width:100%;
}

#GPTChart {
  padding-left: 0;
  padding-right: 0;
  margin-right: auto;
  width: 100%;
}

/* Stile per i risultati della ricerca */
#searchResults {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 10px;
}

#searchResultsChatGPT {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 10px;
}

/* Stile per i singoli risultati */
#searchResults div,
#searchResultsChatGPT div {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Stile per il testo in grassetto */
#searchResults div b,
#searchResultsChatGPT div b {
  font-weight: bold;
}
